# V-219213 The Ubuntu operating system must generate audit records for the use and modification of the tallylog file.
-w /var/log/tallylog -p wa -k logins

# V-219214 The Ubuntu operating system must generate audit records for the use and modification of the faillog file.
-w /var/log/faillog -p wa -k logins

# V-219240 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the mount command.
-a always,exit -F path=/bin/mount -F perm=x -F auid>=1000 -F auid!=-1 -k privileged-mount

# V-219241 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the umount command.
-a always,exit -F path=/bin/umount -F perm=x -F auid>=1000 -F auid!=-1 -k privileged-umount

# V-219242 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the ssh-agent command.
-a always,exit -F path=/usr/bin/ssh-agent -F perm=x -F auid>=1000 -F auid!=-1 -k privileged-ssh

# V-219243 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the ssh-keysign command.
-a always,exit -F path=/usr/lib/openssh/ssh-keysign -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-ssh

# V-219244 The Ubuntu operating system must generate audit records for any usage of the setxattr system call.
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S setxattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S setxattr -F auid=0 -k perm_mod

# V-219245 The Ubuntu operating system must generate audit records for any usage of the lsetxattr system call.
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S lsetxattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S lsetxattr -F auid=0 -k perm_mod

# V-219246 The Ubuntu operating system must generate audit records for any usage of the fsetxattr system call.
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S fsetxattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S fsetxattr -F auid=0 -k perm_mod

# V-219247 The Ubuntu operating system must generate audit records for any usage of the removexattr system call.
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S removexattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S removexattr -F auid=0 -k perm_mod

# V-219248 The Ubuntu operating system must generate audit records for any usage of the lremovexattr system call.
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S lremovexattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S lremovexattr -F auid=0 -k perm_mod

# V-219249 The Ubuntu operating system must generate audit records for any usage of the fremovexattr system call.
-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S fremovexattr -F auid=0 -k perm_mod
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S fremovexattr -F auid=0 -k perm_mod

# V-219250 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chown system call.
-a always,exit -F arch=b32 -S chown -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219251 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the fchown system call.
-a always,exit -F arch=b32 -S fchown -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219252 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the fchownat system call.
-a always,exit -F arch=b32 -S fchownat -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219253 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the lchown system call.
-a always,exit -F arch=b32 -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219254 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chmod system call.
-a always,exit -F arch=b32 -S chmod -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S chmod -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219255 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the fchmod syscall
-a always,exit -F arch=b32 -S fchmod -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219256 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the fchmodat syscall
-a always,exit -F arch=b32 -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219263 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the sudo command.
-a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=1000 -F auid!=4294967295 -k priv_cmd

# V-219264 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the sudoedit command.
-a always,exit -F path=/usr/bin/sudoedit -F perm=x -F auid>=1000 -F auid!=4294967295 -k priv_cmd

# V-219265 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chsh command.
-a always,exit -F path=/usr/bin/chsh -F perm=x -F auid>=1000 -F auid!=4294967295 -k priv_cmd

# V-219266 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the newgrp command.
-a always,exit -F path=/usr/bin/newgrp -F perm=x -F auid>=1000 -F auid!=4294967295 -k priv_cmd

# V-219267 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chcon command.
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219268 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the apparmor_parser command.
-a always,exit -F path=/sbin/apparmor_parser -F perm=x -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219269 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the setfacl command.
-a always,exit -F path=/usr/bin/setfacl -F perm=x -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219270 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chacl command.
-a always,exit -F path=/usr/bin/chacl -F perm=x -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219271 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the passwd command.
-a always,exit -F path=/usr/bin/passwd -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

# V-219272 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the unix_update command.
-a always,exit -F path=/sbin/unix_update -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-unix-update

# V-219273 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the gpasswd command.
-a always,exit -F path=/usr/bin/gpasswd -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-gpasswd

# V-219274 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the chage command.
-a always,exit -F path=/usr/bin/chage -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-chage

# V-219275 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the usermod command.
-a always,exit -F path=/usr/sbin/usermod -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-usermod

# V-219276 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the crontab command.
-a always,exit -F path=/usr/bin/crontab -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-crontab

# V-219277 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the pam_timestamp_check command.
-a always,exit -F path=/usr/sbin/pam_timestamp_check -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-pam_timestamp_check

# V-219278 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the init_module syscall
-a always,exit -F arch=b32 -S init_module -F auid>=1000 -F auid!=4294967295 -k module_chng
-a always,exit -F arch=b64 -S init_module -F auid>=1000 -F auid!=4294967295 -k module_chng

# V-219279 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the finit_module syscall
-a always,exit -F arch=b32 -S finit_module -F auid>=1000 -F auid!=4294967295 -k module_chng
-a always,exit -F arch=b64 -S finit_module -F auid>=1000 -F auid!=4294967295 -k module_chng

# V-219280 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the delete_module syscall
-a always,exit -F arch=b32 -S delete_module -F auid>=1000 -F auid!=4294967295 -k module_chng
-a always,exit -F arch=b64 -S delete_module -F auid>=1000 -F auid!=4294967295 -k module_chng

# V-219282 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the setxattr syscall
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219283 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the lsetxattr syscall
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219284 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the fsetxattr syscall
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219285 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the removexattr syscall
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219286 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the lremovexattr syscall
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_chng
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_chng

# V-219287 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the unlink syscall
-a always,exit -F arch=b64 -S unlink -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S unlink -F auid>=1000 -F auid!=4294967295 -k delete

# V-219288 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the unlinkat syscall
-a always,exit -F arch=b64 -S unlinkat -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S unlinkat -F auid>=1000 -F auid!=4294967295 -k delete

# V-219289 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the rename syscall
-a always,exit -F arch=b64 -S rename -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S rename -F auid>=1000 -F auid!=4294967295 -k delete

# V-219290 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the renameat syscall
-a always,exit -F arch=b64 -S renameat -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S renameat -F auid>=1000 -F auid!=4294967295 -k delete

# V-219291 The Ubuntu operating system must generate audit records when loading dynamic kernel modules.
-a always,exit -F arch=b32 -S init_module -S finit_module -k modules
-a always,exit -F arch=b64 -S init_module -S finit_module -k modules

# V-219292 The Ubuntu operating system must generate audit records when unloading dynamic kernel modules.
-a always,exit -F arch=b32 -S delete_module -k modules
-a always,exit -F arch=b64 -S delete_module -k modules

# V-219238 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the su command.
 -a always,exit -F path=/bin/su -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

# V-219261 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the openat system call.
-a always,exit -F arch=b32 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219257 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the open system call.
-a always,exit -F arch=b32 -S open -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S open -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219262 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the open_by_handle_at system call.
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219293 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the truncate system call.
-a always,exit -F arch=b32 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219294 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the ftruncate system call.
-a always,exit -F arch=b32 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219295 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the creat system call.
-a always,exit -F arch=b32 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b32 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k perm_access
-a always,exit -F arch=b64 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k perm_access

# V-219296 The Ubuntu operating system must generate records for successful/unsuccessful uses of init_module or finit_module syscalls.
-a always,exit -F arch=b32 -S init_module -S finit_module -F key=modules
-a always,exit -F arch=b64 -S init_module -S finit_module -F key=modules

# V-219297 The Ubuntu operating system must generate records for successful/unsuccessful uses of delete_module syscall.
-a always,exit -F arch=b32 -S delete_module -F key=modules
-a always,exit -F arch=b64 -S delete_module -F key=modules
