# V-219279 The Ubuntu operating system must generate audit records for successful/unsuccessful uses of the finit_module syscall
-a always,exit -F arch=b32 -S finit_module -F auid>=1000 -F auid!=4294967295 -k module_chng
-a always,exit -F arch=b64 -S finit_module -F auid>=1000 -F auid!=4294967295 -k module_chng
