- name: Ensure vlock is installed
  package:
    name: vlock
    state: present
  when:
    - package_vlock_installed | bool
    - no_reboot_needed | bool
    - medium_severity | bool
    - enable_strategy | bool
    - low_disruption | bool
    - low_complexity | bool
  tags:
    - V-219304
    - DISA-STIG-UBTU-18-010403
    - NIST-800-171-3.1.11
    - NIST-800-53-AC-12
    - NIST-800-53-AC-2(5)
    - NIST-800-53-CM-6(a)
    - NIST-800-53-SC-10
    - package_vlock_installed
    - low_complexity
    - low_disruption
    - medium_severity
    - no_reboot_needed
    - restrict_strategy

- name: Enable GNOME3 Screensaver Lock After Idle Period
  dconf:
    key: "/org/gnome/desktop/screensaver/lock-enabled"
    value: "true"
    state: present
    create: true
  when:
    - ansible_virtualization_role != "guest" or ansible_virtualization_type != "docker"
    - no_reboot_needed | bool
    - medium_severity | bool
    - unknown_strategy | bool
    - medium_disruption | bool
    - dconf_gnome_screensaver_lock_enabled | bool
    - low_complexity | bool
  tags:
    - V-219302
    - CJIS-5.5.5
    - DISA-STIG-UBTU-18-010401
    - NIST-800-171-3.1.10
    - NIST-800-53-CM-6(a)
    - PCI-DSS-Req-8.1.8
    - dconf_gnome_screensaver_lock_enabled
    - low_complexity
    - medium_disruption
    - medium_severity
    - no_reboot_needed

- name: Set Interactive Session Timeout
  block:
    - name: Deduplicate values from /etc/profile
      lineinfile:
        path: /etc/profile
        create: false
        regexp: ^\s*TMOUT=
        state: absent
    - name: Check if /etc/profile.d exists
      stat:
        path: /etc/profile.d
      register: _etc_profile_d_exists
    - name: Check if the parameter TMOUT is present in /etc/profile.d
      find:
        paths: /etc/profile.d
        recurse: 'yes'
        follow: 'no'
        contains: ^\s*TMOUT=
      register: _etc_profile_d_has_parameter
      when: _etc_profile_d_exists.stat.isdir is defined and _etc_profile_d_exists.stat.isdir
    - name: Remove parameter from files in /etc/profile.d
      lineinfile:
        path: '{{ item.path }}'
        create: false
        regexp: ^\s*TMOUT=
        state: absent
      with_items: '{{ _etc_profile_d_has_parameter.files }}'
      when: _etc_profile_d_has_parameter.matched
    - name: Insert correct block to /etc/profile.d/autologout.sh
      blockinfile:
        path: /etc/profile.d/autologout.sh
        create: yes
        block: |
          # Ansible Managed block
          # User will be disconnected after {{ var_accounts_tmout }} of inactivity
          TMOUT={{ var_accounts_tmout }}
          readonly TMOUT
          export TMOUT
  tags:
    - V-219303
    - DISA-STIG-UBTU-18-010402
    - NIST-800-171-3.1.11
    - NIST-800-53-AC-12
    - NIST-800-53-AC-2(5)
    - NIST-800-53-CM-6(a)
    - NIST-800-53-SC-10
    - accounts_tmout
    - low_complexity
    - low_disruption
    - medium_severity
    - no_reboot_needed
    - restrict_strategy
  when:
    - accounts_tmout | bool
    - no_reboot_needed | bool
    - restrict_strategy | bool
    - medium_severity | bool
    - low_disruption | bool
    - low_complexity | bool
