- name: Lock an account when three unsuccessful logon attempts occur
  pamd:
    name: common-auth
    type: auth
    control: '[success=1 default=ignore]'
    module_path: pam_unix.so
    new_type: auth
    new_control: required
    new_module_path: pam_tally2.so
    module_arguments: 'onerr=fail deny={{ var_pamd_lock }}'
    state: before
  when:
    - run_pamd_lock | bool
    - no_reboot_needed | bool
    - restrict_strategy | bool
    - medium_severity | bool
    - low_disruption | bool
    - low_complexity | bool
  tags:
    - V-219166
    - DISA-STIG-UBTU-18-010033
    - CJIS-5.5.3
    - NIST-800-171-3.1.8
    - NIST-800-53-AC-7(a)
    - NIST-800-53-CM-6(a)
    - PCI-DSS-Req-8.1.6
    - accounts_passwords_pam_faillock_deny
    - low_complexity
    - low_disruption
    - medium_severity
    - no_reboot_needed
    - restrict_strategy

- name: Encrypted passwords stored in /etc/shadow use a strong cryptographic hash
  pamd:
    name: common-password
    type: password
    control: sufficient
    module_path: pam_unix.so
    new_control: sufficient
    module_arguments: sha512
    state: updated
  when:
    - no_reboot_needed | bool
    - configure_strategy | bool
    - medium_severity | bool
    - medium_disruption | bool
    - accounts_password_pam_unix_hash | bool
    - low_complexity | bool
  tags:
    - V-219176
    - V-219166    
    - DISA-STIG-UBTU-18-010104
    - DISA-STIG-UBTU-18-010033
    - CJIS-5.6.2.2
    - NIST-800-171-3.13.11
    - NIST-800-53-CM-6(a)
    - NIST-800-53-IA-5(1)(c)
    - NIST-800-53-IA-5(c)
    - PCI-DSS-Req-8.2.1
    - low_complexity
    - low_disruption
    - medium_severity
    - no_reboot_needed
    - restrict_strategy
    - accounts_password_pam_unix_hash

- name: Set Password Hashing Algorithm in /etc/login.defs
  lineinfile:
    dest: /etc/login.defs
    regexp: ^#?ENCRYPT_METHOD
    line: ENCRYPT_METHOD SHA512
    state: present
    create: true
  tags:
  - V-219176
  - V-219166    
  - DISA-STIG-UBTU-18-010104
  - DISA-STIG-UBTU-18-010033
  - NIST-800-171-3.13.11
  - NIST-800-53-CM-6(a)
  - NIST-800-53-IA-5(1)(c)
  - NIST-800-53-IA-5(c)
  - PCI-DSS-Req-8.2.1
  - low_complexity
  - low_disruption
  - medium_severity
  - no_reboot_needed
  - restrict_strategy
  - set_password_hashing_algorithm_logindefs
  when:
  - no_reboot_needed | bool
  - restrict_strategy | bool
  - set_password_hashing_algorithm_logindefs | bool
  - medium_severity | bool
  - low_disruption | bool
  - low_complexity | bool

- name: Set Password Minimum Age
  lineinfile:
    create: true
    dest: /etc/login.defs
    regexp: ^#?PASS_MIN_DAYS
    line: PASS_MIN_DAYS {{ var_accounts_minimum_age_login_defs }}
  tags:
    - V-219178
    - CJIS-5.6.2.1.1
    - DISA-STIG-UBTU-18-010106
    - NIST-800-171-3.5.8
    - NIST-800-53-CM-6(a)
    - NIST-800-53-IA-5(1)(d)
    - NIST-800-53-IA-5(f)
    - accounts_minimum_age_login_defs
    - low_complexity
    - low_disruption
    - medium_severity
    - no_reboot_needed
    - restrict_strategy
  when:
    - no_reboot_needed | bool
    - restrict_strategy | bool
    - medium_severity | bool
    - accounts_minimum_age_login_defs | bool
    - low_disruption | bool
    - low_complexity | bool

- name: Do not allow users to reuse recent passwords - common-password
  pamd:
    name: common-password
    type: password
    control: '[success=1 default=ignore]'
    module_path: pam_unix.so
    module_arguments: 'remember={{ var_password_pam_unix_remember }}'
    state: args_present
  tags:
    - V-219180
    - CJIS-5.6.2.1.1
    - DISA-STIG-UBTU-18-010108
    - NIST-800-171-3.5.8
    - NIST-800-53-IA-5(1)(e)
    - NIST-800-53-IA-5(f)
    - PCI-DSS-Req-8.2.5
    - accounts_password_pam_unix_remember
    - configure_strategy
    - low_complexity
    - medium_disruption
    - medium_severity
    - no_reboot_needed
  when:
    - no_reboot_needed | bool
    - configure_strategy | bool
    - medium_severity | bool
    - medium_disruption | bool
    - accounts_password_pam_unix_remember | bool
    - low_complexity | bool